<section id="banner" class="banner-section">
  <img
    src="../assets/images/banner.jpg"
    alt="Get to know me"
    class="banner-image"
  />
</section>
<section id="about" class="scrollspy-section margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">About me</h2>
        </div>
        <p>{{ "aboutBio" | translate }}</p>
      </div>
      <div class="col-md-6 video-content">
        <img src="../assets/images/lena.jpg" alt="lena" />
      </div>
    </div>
  </div>
</section>
<section id="education" class="scrollspy-section margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 video-content">
        <img src="../assets/images/lena.jpg" alt="lena" />
      </div>
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">Education</h2>
        </div>
        <p>{{ "educationBio" | translate }}</p>
      </div>
    </div>
  </div>
</section>

<section id="experience" class="scrollspy-section margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">Experience</h2>
        </div>
        <p>{{ "experienceBio" | translate }}</p>
      </div>
      <div class="col-md-6 video-content">
        <img src="../assets/images/lena.jpg" alt="lena" />
      </div>
    </div>
  </div>
</section>

<section id="interests" class="scrollspy-section margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 video-content">
        <img src="../assets/images/lena.jpg" alt="lena" />
      </div>
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">Interests</h2>
        </div>
        <p>{{ "interestsBio" | translate }}</p>
      </div>
    </div>
  </div>
</section>
