<section id="banner" class="banner-section">
  <h1 class="banner-label section-title">
    {{ "getToKnowMeTitle" | translate }}
  </h1>
  <img
    src="../assets/images/banner.jpg"
    alt="{{ 'getToKnowMeAltText' | translate }}"
    class="banner-image"
  />
</section>
<section id="about" class="section-with-img">
  <div class="container">
    <div class="row">
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">{{ "aboutTitle" | translate }}</h2>
        </div>
        <p>{{ "aboutBio" | translate }}</p>
      </div>
      <div class="col-md-6 section-img img-right">
        <img
          src="../assets/images/lena.jpg"
          alt="{{ 'aboutImageAltText' | translate }}"
        />
      </div>
    </div>
  </div>
</section>
<section id="education" class="section-with-img margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 section-img left">
        <img
          src="../assets/images/lena.jpg"
          alt="{{ 'educationImageAltText' | translate }}"
        />
      </div>
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">{{ "educationTitle" | translate }}</h2>
        </div>
        <p>{{ "educationBio" | translate }}</p>
      </div>
    </div>
  </div>
</section>

<section id="experience" class="section-with-img margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">{{ "experienceTitle" | translate }}</h2>
        </div>
        <p>{{ "experienceBio" | translate }}</p>
      </div>
      <div class="col-md-6 section-img img-right">
        <img
          src="../assets/images/lena.jpg"
          alt="{{ 'experienceImageAltText' | translate }}"
        />
      </div>
    </div>
  </div>
</section>

<section id="interests" class="section-with-img margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 section-img left">
        <img
          src="../assets/images/lena.jpg"
          alt="{{ 'interestsImageAltText' | translate }}"
        />
      </div>
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">{{ "interestsTitle" | translate }}</h2>
        </div>
        <p>{{ "interestsBio" | translate }}</p>
      </div>
    </div>
  </div>
</section>
