<div>
  <app-side-panel [isSidebarOpen]="togglePanel" (onClose)="toggle($event)">
  </app-side-panel>
  <app-header id="home" (togglePanel)="togglePanel = $event"></app-header>
  <button id="scroll-up" (click)="scrollToTop()"><i class="icon icon-arrow-up"></i></button>
</div>
<router-outlet></router-outlet>
<div id="footer-bottom" class="bg-accent padding-medium">
  <div class="container">
    <div class="row">

      <div class="col-md-12 footer-links">
        <div class="copyright">
          <p>© 2021 TemplatesJungle. Designed by <a href="https://www.templatesjungle.com/"
              target="_blank">TemplatesJungle</a></p>
        </div>

      </div>

    </div>
  </div>
</div>


<!-- <script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/plugins.js"></script>

<script src="js/ui-easing.js"></script>
<script src="js/videopopup.js"></script>
<script src="js/script.js"></script> -->