<section id="banner" class="banner-section">
  <img
    src="../assets/images/services-banner.jpg"
    alt="Get to know me"
    class="banner-image"
  />
</section>
<section id="about" class="scrollspy-section margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">Therapeutic Approach</h2>
        </div>
        <p>{{ "therapeuticApproachDescription" | translate }}</p>
      </div>
      <div class="col-md-6 section-img">
        <img src="../assets/images/therapist.jpg" alt="therapist" />
      </div>
    </div>
  </div>
</section>

<section id="education" class="scrollspy-section margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 section-img">
        <img src="../assets/images/therapist.jpg" alt="therapist" />
      </div>
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">Specializations</h2>
        </div>
        <p>{{ "specializationsDescription" | translate }}</p>
      </div>
    </div>
  </div>
</section>

<section id="experience" class="scrollspy-section margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">Counseling Services</h2>
        </div>
        <p>{{ "counselingServicesDescription" | translate }}</p>
      </div>
      <div class="col-md-6 section-img">
        <img src="../assets/images/therapist.jpg" alt="therapist" />
      </div>
    </div>
  </div>
</section>

<section id="interests" class="scrollspy-section margin-xlarge">
  <div class="container">
    <div class="row">
      <div class="col-md-6 section-img">
        <img src="../assets/images/therapist.jpg" alt="therapist" />
      </div>
      <div class="col-md-6 description">
        <div class="section-header">
          <h2 class="section-title">Wellness Programs</h2>
        </div>
        <p>{{ "wellnessProgramsDescription" | translate }}</p>
      </div>
    </div>
  </div>
</section>
